@charset "UTF-8";
body{
    background-color: #eceff4;
}
.wrapper{
    padding:0 20px;
    max-width: 1024px;
    margin: auto;
}
.wysiwyg{
    width:100%;
}
.header{
    text-align: center;
    color: #6c7a86;
    padding:50px 0 20px;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
    font-weight: 800;
    font-size: 35px;
}
.wysiwyg input,
.wysiwyg button,
.wysiwyg textarea{
    box-shadow: none!important;
}
.wysiwyg-content,
.wysiwyg-buttons,
.wysiwyg-content .editor{
    background-color: #fff;
}
.wysiwyg-buttons{
    min-height: 2px;
    padding: 10px;
    background-color: #f6f8fa;
    border-top: 1px solid #d8e2e7;
    border-left: 1px solid #d8e2e7;
    border-right: 1px solid #d8e2e7;
}
.wysiwyg-content{
    height: 200px;
    border: 1px solid #d8e2e7;
}
.wysiwyg-buttons .btn{
    background-color: transparent;
    border: 0;
    color: #6c7a86;
}
.wysiwyg-buttons .btn:focus,
.wysiwyg-buttons .btn:hover{
    box-shadow: none;
    background-color: #bcc3ca;
    color: #fff;
}
.wysiwyg-content iframe{
    width: 100%!important;
    height: 100%!important;
    border: 0!important;
}
.wysiwyg .fontname,
.wysiwyg .fontsize{
    padding: 3px 10px;
    cursor: pointer;
    color: #6c7a86;
}
.wysiwyg .dropdown{
    display: inline-block!important;
}
.wysiwyg-colors{
    max-width: 180px;
    padding: 8px;
}
.wysiwyg .mycolor,
.wysiwyg .mybg{
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #e3ebef;
}
.wysiwyg-content textarea{
    display: none;
}
.submit-btn{
    background-color: #f6f8fa;
    color: #6c7a86;
    border: 1px solid #d8e2e7;
}